<div id="meme-page">

	<ul class="memes">
		<% @memes.each do |meme| %>
						<li class="meme"%><%= meme.text %><span class="signature">~ <%= meme.fountains.first.name %></span></li>
		<% end %>
	</ul>

	<%= will_paginate @memes %>

</div>