<div id="meme-page">
	<h1 class="index-title">Memes</h1>
	<ul class="memes">
		<% @memes.each do |meme| %>
			<li class="meme"%>
				<span class="meme-text"><%= meme.text %></span>
				<span class="signature">~ <%= link_to meme.fountains.first.name, fountain_path(meme.fountains.first) %></span></br>
				<span class="meme-tags">
				<% if meme.tags.count > 0 %>
					<strong>Tags: </strong> <% meme.tags.each do |tag| %>
						<%= link_to tag.name, tag_path(tag) %> 
					<% end %></span>
				<% end %>
			</li>
		<% end %>
	</ul>

	<%= will_paginate @memes %>

</div>