<div class="video-page-wrapper">

	<ul class="videos">
		<% video = videos.delete_at(0) %>
		<li id="<%= i %>" class=<%= i.odd? ? "nudge-video-left" : "" %> ><iframe width="480" height="315" src="<%= video.url %>" frameborder="0" allowfullscreen></iframe></li>
	</ul>
</div>