<div id="video-page">

	<ul class="videos">
		<% @videos.each_with_index do |video, i| %>
		<li><iframe width="240" height="160" src="<%= video.construct_embed_url %>" frameborder="0" allowfullscreen></iframe></li>
		<% end %>
	</ul>

	<%= will_paginate @videos %>

</div>