<div id="video-page">

	<div class="video-show" %><iframe height="480px" src="<%= @video.construct_embed_url %>" frameborder="0" allowfullscreen></iframe></div>

	<div class="height-spacer"></div>

</div>
