<div class="home-videos">

	<ul class="videos">
		<li><iframe width="480" height="315" src="<%= @videos.first.url %>" frameborder="0" allowfullscreen></iframe></li>
		<li class="nudge-video-left"><iframe width="480" height="315" src="//www.youtube.com/embed/v09vvwqBmgk" frameborder="0" allowfullscreen></iframe></li>
	</ul>

</div>